body {
    width: 100%;
    height: 100%;
}
#main {
    position: absolute;
    top: 20%;
    left: 35%;
    width: 10%;
    height: 30%;
    min-width: 30%;
    min-height: 30%;
}

#monitor {
    background-color: #2f3194;
    display: flex;
    padding: 3% 3% 3% 3%;
    width: 70%;
}

#monitor > input {
    width: 100%;
    padding:7% 7% 7% 7%;
}

#keyboard {
    background-color: #2f3194;
    width: 70%;
    min-height: 70%;
    padding: 3% 3% 0 3%;
    display: flex;
    flex-wrap: wrap;
    font-size: 100%;
}

.button {
    width: 20%;
    height: 40%;
    flex: 15%;
    margin: 3% 3% 3% 3%;
    border-radius: 80%;
    outline: none;
    border: none;
    font-size: 30px;
    display: inline-block;
    max-height: 19%;
}

.clear {
    width: 50%;
    height: 35%;
    margin:3% 3% 3% 3%;
    flex: 35%;
    border-radius: 80%;
    outline: none;
    border: none;
    font-size: 30px;
}

.button:hover {
    background-color: aqua;
    transform: scale(1.1);
    transition: 300ms;
    outline: none;
    border: none;
}

.clear:hover {
    background-color: #c4a226;
    transform: scale(1.1);
    transition: 300ms;
    outline: none;
    border: none;
}

@media  screen and (max-width: 1000px) {
    #keyboard{
        width: 250px;
    }
    #monitor{
        width: 250px;
    }
    #main{
        width: 250px;
    }
    body{
        width: 250px;
    }
    .button{
        width: 250px;
    }
    .clear{
        width: 250px;
    }

}
